flows.json
[
    {
        "id": "9b89af2bcc070569",
        "type": "tab",
        "label": "Check URL",
        "info": "**Description**\nThe flow checks whether a specific section exists in a document by sending a GET request to the /test1 endpoint. The flow requires the following parameters in the message body: the GitHub organisation name, the repository name, the file path, the file name, the section it has to contain, and the GitHub token.\n\n**Details**\n1. Http in: node to define the /test1 endpoint for testing the flow.\n2. Exists-section-in-doc node: checks if a specific section exists in a document. It requires parameters like the GitHub organisation name, repository name, file path, file name, section to check, and GitHub token.\n3. Http response: node to send HTTP responses back to incoming requests."
    },
    {
        "id": "ce8fc522a364e5e3",
        "type": "tab",
        "label": "Check section prueba",
        "disabled": false,
        "info": "**Description**\nThis flow is designed to check if a specific section exists in a document. It listens for a GET request on the `/check` endpoint. The flow includes a custom node called `exists-section-in-doc` that will verify the presence of the specified section in the document.\n\n**Details**\n1. HTTP In: This node sets up the `/check` endpoint to trigger the flow.\n2. Exists-section-in-doc: Custom node that checks if the given section exists in the document.\n3. HTTP Response: This node sends an HTTP response based on the result of the section check."
    },
    {
        "id": "bad76f2298009175",
        "type": "tab",
        "label": "Check priority section",
        "info": "**Description:**\nThe flow is designed to check for the existence of a specific section within a document based on the priority attribute value. It exposes a GET endpoint \"/check\" where the flow can be triggered.\n\n**Details:**\n1. **Http in:** This node defines the \"/check\" endpoint for triggering the flow via a GET request.\n2. **Filter-by:** Filters objects based on the \"priority\" attribute with the filter value \"High\". It passes the filtered objects to the next node.\n3. **Exists-section-in-doc:** Checks if the document contains the specified section. It receives objects from the previous node and determines if the section exists.\n4. **Http response:** Sends an HTTP response once the check is complete. \n\nEach node in the flow performs a specific task sequentially to accomplish the goal of checking the priority section within the document."
    },
    {
        "id": "06d0899c3d2b4d31",
        "type": "tab",
        "label": "Check section in document",
        "disabled": false,
        "info": "**Description**\nThis flow checks for the existence of a specific section (\"sección de prueba\") in a document. It can be triggered via a GET request on the /checkSectionInProject endpoint.\n\n**Details**\n1. _**Http in**_: This node defines the /checkSectionInProject endpoint to trigger the flow.\n2. _**Exists-section-in-doc**_: This node checks if the document contains the specified section (\"sección de prueba\").\n3. _**Http response**_: This node sends an HTTP response after processing the request. \n\nDo you need any further assistance with this flow?"
    },
    {
        "id": "eabec9fac31e5201",
        "type": "tab",
        "label": "ExistsDocument",
        "disabled": false,
        "info": "Check if a section exists within the GitHub repository documents associated with cards on a trello board."
    },
    {
        "id": "0d63fc92a70b0a63",
        "type": "tab",
        "label": "Example Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cb486f3dd774a375",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "756cd61b1d6d494a",
        "type": "http in",
        "z": "9b89af2bcc070569",
        "name": "",
        "url": "/test1",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 180,
        "wires": [
            [
                "83bb073e9317828c"
            ]
        ]
    },
    {
        "id": "72ec2a0a16690c2e",
        "type": "http response",
        "z": "9b89af2bcc070569",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "83bb073e9317828c",
        "type": "exists-section-in-doc",
        "z": "9b89af2bcc070569",
        "name": "",
        "section": "",
        "x": 500,
        "y": 180,
        "wires": [
            [
                "72ec2a0a16690c2e"
            ]
        ]
    },
    {
        "id": "ae3e68b55384dc68",
        "type": "http in",
        "z": "ce8fc522a364e5e3",
        "name": "",
        "url": "/check3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "2c6bde120a767185"
            ]
        ]
    },
    {
        "id": "dee8e1439d606ff6",
        "type": "http response",
        "z": "ce8fc522a364e5e3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "2c6bde120a767185",
        "type": "exists-section-in-doc",
        "z": "ce8fc522a364e5e3",
        "name": "",
        "section": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "dee8e1439d606ff6"
            ]
        ]
    },
    {
        "id": "7b8ea985b0902dfa",
        "type": "http in",
        "z": "bad76f2298009175",
        "name": "",
        "url": "/check",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 180,
        "wires": [
            [
                ""
            ]
        ]
    },
    {
        "id": "a1fd56b856576245",
        "type": "http response",
        "z": "bad76f2298009175",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "ab67c712124ab092",
        "type": "exists-section-in-doc",
        "z": "bad76f2298009175",
        "name": "",
        "section": "",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "a1fd56b856576245"
            ]
        ]
    },
    {
        "id": "",
        "type": "filter-by",
        "z": "bad76f2298009175",
        "name": "",
        "valueType": "Importance",
        "attribute": "priority",
        "value": "High",
        "x": 420,
        "y": 180,
        "wires": [
            [
                "ab67c712124ab092"
            ]
        ]
    },
    {
        "id": "dbc76a0ae0e876fb",
        "type": "http in",
        "z": "06d0899c3d2b4d31",
        "name": "",
        "url": "/checkSectionInProject",
        "method": "get",
        "upload": false,
        "x": 240,
        "y": 160,
        "wires": [
            [
                "e621a920c9dae732"
            ]
        ]
    },
    {
        "id": "0a959020b9bbf7c0",
        "type": "http response",
        "z": "06d0899c3d2b4d31",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "e621a920c9dae732",
        "type": "exists-section-in-doc",
        "z": "06d0899c3d2b4d31",
        "name": "",
        "section": "sección de prueba",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "0a959020b9bbf7c0"
            ]
        ]
    },
    {
        "id": "303a84db645ec710",
        "type": "http response",
        "z": "eabec9fac31e5201",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "bf71fe40b7f70b3d",
        "type": "http in",
        "z": "eabec9fac31e5201",
        "name": "",
        "url": "/existsDocument",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "442435728c76ed17"
            ]
        ]
    },
    {
        "id": "442435728c76ed17",
        "type": "exists-url",
        "z": "eabec9fac31e5201",
        "name": "",
        "x": 580,
        "y": 140,
        "wires": [
            [
                "303a84db645ec710"
            ]
        ]
    },
    {
        "id": "57606808aecb6ca0",
        "type": "split",
        "z": "0d63fc92a70b0a63",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 430,
        "y": 160,
        "wires": [
            [
                "e92e661eafb65594",
                "7fb26c8b5db58520"
            ]
        ]
    },
    {
        "id": "917d02da8b5261c0",
        "type": "function",
        "z": "0d63fc92a70b0a63",
        "name": "function 1",
        "func": "msg.payload = [\n    {\n        \"value\": false,\n        \"scope\": {\n            \"project\": \"showcase-GH-governify_bluejay-showcase\",\n            \"class\": \"showcase\",\n            \"member\": \"Alice_Smith\"\n        },\n        \"evidences\": [\n            {\n                \"document\": \"Report detailing the analysis\"\n            }\n        ],\n        \"period\": {\n            \"from\": \"2025-01-01T01:00:00.000Z\",\n            \"to\": \"2025-01-01T01:59:59.999Z\"\n        }\n    },\n    {\n        \"value\": true,\n        \"scope\": {\n            \"project\": \"showcase-GH-governify_bluejay-showcase\",\n            \"class\": \"showcase\",\n            \"member\": \"Bob_Jones\"\n        },\n        \"evidences\": [\n            {\n                \"document\": \"Verification log from system\"\n            }\n        ],\n        \"period\": {\n            \"from\": \"2025-01-01T01:00:00.000Z\",\n            \"to\": \"2025-01-01T01:59:59.999Z\"\n        }\n    },\n    {\n        \"value\": false,\n        \"scope\": {\n            \"project\": \"showcase-GH-governify_bluejay-showcase\",\n            \"class\": \"showcase\",\n            \"member\": \"Charlie_Lee\"\n        },\n        \"evidences\": [\n            {\n                \"document\": \"Data logs supporting computation\"\n            }\n        ],\n        \"period\": {\n            \"from\": \"2025-01-01T01:00:00.000Z\",\n            \"to\": \"2025-01-01T01:59:59.999Z\"\n        }\n    },\n    {\n        \"value\": true,\n        \"scope\": {\n            \"project\": \"showcase-GH-governify_bluejay-showcase\",\n            \"class\": \"showcase\",\n            \"member\": \"Diana_Wilson\"\n        },\n        \"evidences\": [\n            {\n                \"document\": \"Audit record of computation\"\n            }\n        ],\n        \"period\": {\n            \"from\": \"2025-01-01T01:00:00.000Z\",\n            \"to\": \"2025-01-01T01:59:59.999Z\"\n        }\n    }\n];\nmsg.size = 4;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 160,
        "wires": [
            [
                "57606808aecb6ca0"
            ]
        ]
    },
    {
        "id": "13b9ee2f76db0205",
        "type": "http in",
        "z": "0d63fc92a70b0a63",
        "name": "",
        "url": "/test",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "917d02da8b5261c0",
                "c3d4778d4b0361fb",
                "52eec34d552d31f9"
            ]
        ]
    },
    {
        "id": "e7e2714543070ef0",
        "type": "http response",
        "z": "0d63fc92a70b0a63",
        "name": "",
        "statusCode": "200",
        "headers": {
            "content-type": "application/json"
        },
        "x": 780,
        "y": 160,
        "wires": []
    },
    {
        "id": "e92e661eafb65594",
        "type": "debug",
        "z": "0d63fc92a70b0a63",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "c3d4778d4b0361fb",
        "type": "debug",
        "z": "0d63fc92a70b0a63",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.body",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "52eec34d552d31f9",
        "type": "debug",
        "z": "0d63fc92a70b0a63",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req.headers",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 210,
        "y": 460,
        "wires": []
    },
    {
        "id": "7fb26c8b5db58520",
        "type": "status-storer",
        "z": "0d63fc92a70b0a63",
        "name": "",
        "backendUrl": "",
        "accessToken": "",
        "bufferSize": "",
        "flushInterval": "",
        "from": "",
        "to": "",
        "controlId": "",
        "params": {
            "from": "string",
            "to": "string",
            "controlId": "string",
            "backendUrl": "string",
            "accessToken": "string",
            "bufferSize": "number",
            "flushInterval": "number"
        },
        "x": 610,
        "y": 120,
        "wires": [
            [
                "e7e2714543070ef0"
            ]
        ]
    },
    {
        "id": "45cd45f69a70573f",
        "type": "http response",
        "z": "cb486f3dd774a375",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "ce7fbc378175f658",
        "type": "ai-response",
        "z": "cb486f3dd774a375",
        "name": "",
        "apiKey": "",
        "model": "gemini-2.5-flash",
        "maxTokens": 200,
        "temperature": 0.7,
        "topP": 0.9,
        "topK": 1,
        "systemPrompt": "You are a helpful and friendly assistant.",
        "maxHistory": 10,
        "userInput": "",
        "aiPayloadType": "request",
        "x": 530,
        "y": 140,
        "wires": [
            [
                "45cd45f69a70573f"
            ]
        ]
    },
    {
        "id": "06ffb75fd9570b94",
        "type": "http in",
        "z": "cb486f3dd774a375",
        "name": "",
        "url": "/example",
        "method": "post",
        "upload": false,
        "x": 310,
        "y": 140,
        "wires": [
            [
                "ce7fbc378175f658"
            ]
        ]
    }
]