packages/logic/flows.json
[
    {
        "id": "a16837866ec75648",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79104e95baf23b39",
        "type": "group",
        "z": "a16837866ec75648",
        "name": "Logic nodes",
        "style": {
            "stroke": "#c8e7a7",
            "fill": "#e3f3d3",
            "fill-opacity": "0.58",
            "label": true,
            "label-position": "n",
            "color": "#000000"
        },
        "nodes": [
            "563c66de87585191",
            "c0523dadadd4935c",
            "f7eef7a6b4b262fb",
            "50fdaca3641f0db0",
            "1377fc2701723ea9",
            "db3f2c1c9a77c9d6",
            "99718c2500e84c17",
            "35fc2c13755e7a66",
            "8829593a0ce97468",
            "f15b85a65b6ebd29",
            "863af0f3b08e7270",
            "cf5d354269328064",
            "8b1a82ee243bc062",
            "eaca30dcf8347af8",
            "6f47711e056c8b0b",
            "720b5d3694668826",
            "78d0e8477b7957e9",
            "78e1e3a5a03eae06",
            "example1-node",
            "example1-inject",
            "example2-node",
            "example2-inject",
            "example3-node",
            "example3-inject1",
            "example3-inject2",
            "example1-debug",
            "example2-debug",
            "example3-debug",
            "comment-examples"
        ],
        "x": 134,
        "y": 219,
        "w": 772,
        "h": 682
    },
    {
        "id": "f4cdab2561ef4edb",
        "type": "comment",
        "z": "a16837866ec75648",
        "name": "The `@statuscompliance/logic` package offers a collection of logical operators \\n and functions tailored for the STATUS project. These components allow for \\n easy manipulation of boolean values, enabling logical operations such as AND, \\n OR, and conditional checks within Node-RED flows.",
        "info": "The `@statuscompliance/logic` package offers a collection of logical operators \\n and functions tailored for the STATUS project. These components allow for \\n easy manipulation of boolean values, enabling logical operations such as AND, \\n OR, and conditional checks within Node-RED flows.",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "563c66de87585191",
        "type": "and",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "storeEvidences": true,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "35fc2c13755e7a66"
            ]
        ]
    },
    {
        "id": "c0523dadadd4935c",
        "type": "lesser-than",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "storeEvidences": true,
        "x": 610,
        "y": 420,
        "wires": [
            [
                "35fc2c13755e7a66"
            ]
        ]
    },
    {
        "id": "f7eef7a6b4b262fb",
        "type": "implies",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "storeEvidences": true,
        "x": 620,
        "y": 500,
        "wires": [
            [
                "35fc2c13755e7a66"
            ]
        ]
    },
    {
        "id": "50fdaca3641f0db0",
        "type": "or",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "storeEvidences": true,
        "x": 630,
        "y": 340,
        "wires": [
            [
                "35fc2c13755e7a66"
            ]
        ]
    },
    {
        "id": "1377fc2701723ea9",
        "type": "if-else",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "6f47711e056c8b0b"
            ],
            [
                "720b5d3694668826"
            ]
        ]
    },
    {
        "id": "db3f2c1c9a77c9d6",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "AND operator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"result\":true,\"evidences\":[{\"example\":true}]},{\"result\":true}]",
        "payloadType": "json",
        "x": 270,
        "y": 260,
        "wires": [
            [
                "99718c2500e84c17"
            ]
        ]
    },
    {
        "id": "99718c2500e84c17",
        "type": "split",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 420,
        "y": 260,
        "wires": [
            [
                "563c66de87585191"
            ]
        ]
    },
    {
        "id": "35fc2c13755e7a66",
        "type": "debug",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "8829593a0ce97468",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "First element",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "position",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"result\":2,\"evidences\":[{\"example\":true}]}",
        "payloadType": "json",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "c0523dadadd4935c"
            ]
        ]
    },
    {
        "id": "f15b85a65b6ebd29",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Second element",
        "props": [
            {
                "p": "payload.result",
                "v": "5",
                "vt": "num"
            },
            {
                "p": "position",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "c0523dadadd4935c"
            ]
        ]
    },
    {
        "id": "863af0f3b08e7270",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "OR operator",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"result\":true,\"evidences\":[{\"example\":true}]},{\"result\":false}]",
        "payloadType": "json",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "cf5d354269328064"
            ]
        ]
    },
    {
        "id": "cf5d354269328064",
        "type": "split",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "50fdaca3641f0db0"
            ]
        ]
    },
    {
        "id": "8b1a82ee243bc062",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Implies operator [ !A || B ]",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"result\":false,\"evidences\":[{\"example\":true}]},{\"result\":true}]",
        "payloadType": "json",
        "x": 310,
        "y": 500,
        "wires": [
            [
                "eaca30dcf8347af8"
            ]
        ]
    },
    {
        "id": "eaca30dcf8347af8",
        "type": "split",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 490,
        "y": 500,
        "wires": [
            [
                "f7eef7a6b4b262fb"
            ]
        ]
    },
    {
        "id": "6f47711e056c8b0b",
        "type": "function",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Print \"Condition met\"",
        "func": "msg.payload = \"Condition met\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 580,
        "wires": [
            [
                "35fc2c13755e7a66"
            ]
        ]
    },
    {
        "id": "720b5d3694668826",
        "type": "function",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Print \"Condition NOT met\"",
        "func": "msg.payload = \"Condition NOT met\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 620,
        "wires": [
            [
                "35fc2c13755e7a66"
            ]
        ]
    },
    {
        "id": "78d0e8477b7957e9",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "True payload",
        "props": [
            {
                "p": "payload.result",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "1377fc2701723ea9"
            ]
        ]
    },
    {
        "id": "78e1e3a5a03eae06",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "False payload",
        "props": [
            {
                "p": "payload.result",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "1377fc2701723ea9"
            ]
        ]
    },
    {
        "id": "example1-node",
        "type": "lesser-than",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Example 1: Fixed B Value",
        "storeEvidences": true,
        "lesserProperty": "",
        "aValue": "",
        "bValue": "11",
        "x": 490,
        "y": 720,
        "wires": [
            [
                "example1-debug"
            ]
        ]
    },
    {
        "id": "example1-inject",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "10 < 11 (fixed)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "position",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"result\":10,\"evidences\":[]}",
        "payloadType": "json",
        "x": 250,
        "y": 720,
        "wires": [
            [
                "example1-node"
            ]
        ]
    },
    {
        "id": "example2-node",
        "type": "lesser-than",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Example 2: Custom Property + Fixed A",
        "storeEvidences": true,
        "lesserProperty": "result.temperature",
        "aValue": "11",
        "bValue": "",
        "x": 500,
        "y": 760,
        "wires": [
            [
                "example2-debug"
            ]
        ]
    },
    {
        "id": "example2-inject",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "11 (fixed) < 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "position",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"result\":{\"temperature\":10},\"evidences\":[]}",
        "payloadType": "json",
        "x": 250,
        "y": 760,
        "wires": [
            [
                "example2-node"
            ]
        ]
    },
    {
        "id": "example3-node",
        "type": "lesser-than",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Example 3: Custom Property Dynamic",
        "storeEvidences": true,
        "lesserProperty": "temperature",
        "aValue": "",
        "bValue": "",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "example3-debug"
            ]
        ]
    },
    {
        "id": "example3-inject1",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Temperature: 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "position",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":1,\"evidences\":[]}",
        "payloadType": "json",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "example3-node"
            ]
        ]
    },
    {
        "id": "example3-inject2",
        "type": "inject",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Temperature: 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "position",
                "v": "2",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"temperature\":10,\"evidences\":[]}",
        "payloadType": "json",
        "x": 260,
        "y": 860,
        "wires": [
            [
                "example3-node"
            ]
        ]
    },
    {
        "id": "example1-debug",
        "type": "debug",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Result: true",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 720,
        "wires": []
    },
    {
        "id": "example2-debug",
        "type": "debug",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Result: false",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "example3-debug",
        "type": "debug",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Result: true",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "comment-examples",
        "type": "comment",
        "z": "a16837866ec75648",
        "g": "79104e95baf23b39",
        "name": "Enhanced Lesser-Than Examples",
        "info": "These examples demonstrate the new features:\n1. Fixed B value with default property\n2. Custom property path with fixed A value \n3. Dynamic values with custom property path",
        "x": 490,
        "y": 680,
        "wires": []
    }
]