flows/procede/section exists in document.json
[
    {
        "id": "74e5fb917d9b19b2",
        "type": "subflow",
        "name": "section exists in document",
        "info": "",
        "category": "procede",
        "in": [
            {
                "x": 220,
                "y": 300,
                "wires": [
                    {
                        "id": "229a4f6a790daeb3"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 520,
                "y": 300,
                "wires": [
                    {
                        "id": "229a4f6a790daeb3",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "section",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "229a4f6a790daeb3",
        "type": "function",
        "z": "74e5fb917d9b19b2",
        "name": "Validation",
        "func": "var documentContent = msg.payload;\nvar expectedSection = env.get(\"section\");\n\nmsg.payload = documentContent.toString().indexOf(expectedSection) != -1;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    }
]