packages/status/flows.json
[
    {
        "id": "databinder_flow_tab",
        "type": "tab",
        "label": "DataBinder Examples",
        "disabled": false,
        "info": "Examples of using the @statuscompliance/status databinder node with different datasources and HTTP endpoints",
        "env": []
    },
    {
        "id": "databinder_group",
        "type": "group",
        "z": "databinder_flow_tab",
        "name": "DataBinder HTTP Endpoints",
        "style": {
            "stroke": "#7FB3D5",
            "fill": "#EBF5FB",
            "label": true,
            "label-position": "n",
            "fill-opacity": "0.6"
        },
        "nodes": [
            "http_in_rest_api",
            "databinder_rest_api",
            "http_response_rest_api",
            "http_in_github",
            "databinder_github",
            "http_response_github",
            "http_in_msgraph",
            "databinder_msgraph",
            "http_response_msgraph",
            "http_in_multi",
            "databinder_multi",
            "http_response_multi",
            "http_in_todos",
            "databinder_todos",
            "http_response_todos",
            "debug_rest",
            "debug_github",
            "debug_msgraph",
            "debug_multi",
            "debug_todos"
        ],
        "x": 74,
        "y": 179,
        "w": 1226,
        "h": 762
    },
    {
        "id": "http_in_rest_api",
        "type": "http in",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "REST API Endpoint",
        "url": "/databinder/rest-api",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "databinder_rest_api"
            ]
        ]
    },
    {
        "id": "databinder_rest_api",
        "type": "databinder",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "REST API DataBinder",
        "datasourceId": "",
        "linker": "",
        "methodName": "default",
        "responseFormat": "full",
        "batchSize": 100,
        "storeEvidences": true,
        "params": {
            "datasourceId": "string",
            "linker": "object",
            "methodName": "string",
            "responseFormat": "string",
            "batchSize": "number"
        },
        "x": 380,
        "y": 220,
        "wires": [
            [
                "debug_rest",
                "http_response_rest_api"
            ]
        ]
    },
    {
        "id": "http_response_rest_api",
        "type": "http response",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "REST API Response",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "debug_rest",
        "type": "debug",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "REST Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "http_in_github",
        "type": "http in",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "GitHub API Endpoint",
        "url": "/databinder/github",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 340,
        "wires": [
            [
                "databinder_github"
            ]
        ]
    },
    {
        "id": "databinder_github",
        "type": "databinder",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "GitHub DataBinder",
        "datasourceId": "",
        "linker": "",
        "methodName": "getIssues",
        "responseFormat": "batch",
        "batchSize": 20,
        "storeEvidences": true,
        "params": {
            "datasourceId": "string",
            "linker": "object",
            "methodName": "string",
            "responseFormat": "string",
            "batchSize": "number"
        },
        "x": 370,
        "y": 340,
        "wires": [
            [
                "debug_github",
                "http_response_github"
            ]
        ]
    },
    {
        "id": "http_response_github",
        "type": "http response",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "GitHub Response",
        "statusCode": "",
        "headers": {},
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "debug_github",
        "type": "debug",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "GitHub Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 400,
        "wires": []
    },
    {
        "id": "http_in_msgraph",
        "type": "http in",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "MS Graph Endpoint",
        "url": "/databinder/msgraph",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "databinder_msgraph"
            ]
        ]
    },
    {
        "id": "databinder_msgraph",
        "type": "databinder",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "MS Graph DataBinder",
        "datasourceId": "",
        "linker": "",
        "methodName": "listSiteItems",
        "responseFormat": "iterator",
        "batchSize": 50,
        "storeEvidences": true,
        "params": {
            "datasourceId": "string",
            "linker": "object",
            "methodName": "string",
            "responseFormat": "string",
            "batchSize": "number"
        },
        "x": 380,
        "y": 460,
        "wires": [
            [
                "debug_msgraph",
                "http_response_msgraph"
            ]
        ]
    },
    {
        "id": "http_response_msgraph",
        "type": "http response",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "MS Graph Response",
        "statusCode": "",
        "headers": {},
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "debug_msgraph",
        "type": "debug",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "MS Graph Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "http_in_multi",
        "type": "http in",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "Multi-Source Endpoint",
        "url": "/databinder/multi",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 580,
        "wires": [
            [
                "databinder_multi"
            ]
        ]
    },
    {
        "id": "databinder_multi",
        "type": "databinder",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "Multi-Source DataBinder",
        "datasourceId": "all",
        "linker": "",
        "methodName": "default",
        "responseFormat": "batch",
        "batchSize": 25,
        "storeEvidences": true,
        "params": {
            "datasourceId": "string",
            "linker": "object",
            "methodName": "string",
            "responseFormat": "string",
            "batchSize": "number"
        },
        "x": 390,
        "y": 580,
        "wires": [
            [
                "debug_multi",
                "http_response_multi"
            ]
        ]
    },
    {
        "id": "http_response_multi",
        "type": "http response",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "Multi-Source Response",
        "statusCode": "",
        "headers": {},
        "x": 650,
        "y": 580,
        "wires": []
    },
    {
        "id": "debug_multi",
        "type": "debug",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "Multi Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "http_in_todos",
        "type": "http in",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "JSONPlaceholder Todos",
        "url": "/databinder/todos",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "databinder_todos"
            ]
        ]
    },
    {
        "id": "databinder_todos",
        "type": "databinder",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "JSONPlaceholder Todos DataBinder",
        "datasourceId": "jsonplaceholder-todos",
        "linker": "{\"datasources\":[{\"definitionId\":\"RestApiDatasource\",\"id\":\"jsonplaceholder-todos\",\"config\":{\"baseUrl\":\"https://jsonplaceholder.typicode.com\",\"endpoints\":{\"default\":\"/todos\"},\"headers\":{\"Content-Type\":\"application/json\"}}}],\"datasourceConfigs\":{\"jsonplaceholder-todos\":{\"propertyMapping\":{\"userId\":\"user_id\",\"id\":\"todo_id\",\"title\":\"task_title\",\"completed\":\"is_completed\"}}}}",
        "methodName": "default",
        "responseFormat": "full",
        "batchSize": 50,
        "storeEvidences": true,
        "params": {
            "datasourceId": "string",
            "linker": "object",
            "methodName": "string",
            "responseFormat": "string",
            "batchSize": "number"
        },
        "x": 420,
        "y": 700,
        "wires": [
            [
                "debug_todos",
                "http_response_todos"
            ]
        ]
    },
    {
        "id": "http_response_todos",
        "type": "http response",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "Todos Response",
        "statusCode": "",
        "headers": {},
        "x": 680,
        "y": 700,
        "wires": []
    },
    {
        "id": "debug_todos",
        "type": "debug",
        "z": "databinder_flow_tab",
        "g": "databinder_group",
        "name": "Todos Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 760,
        "wires": []
    },
    {
        "id": "test_endpoints_group",
        "type": "group",
        "z": "databinder_flow_tab",
        "name": "Test Endpoints (Inject Nodes)",
        "style": {
            "stroke": "#58D68D",
            "fill": "#E8F8F5",
            "label": true,
            "label-position": "n",
            "fill-opacity": "0.6"
        },
        "nodes": [
            "test_rest_api",
            "test_github_api",
            "test_msgraph_api",
            "test_multi_api",
            "test_simple_api",
            "test_todos_api"
        ],
        "x": 794,
        "y": 179,
        "w": 506,
        "h": 702
    },
    {
        "id": "test_rest_api",
        "type": "inject",
        "z": "databinder_flow_tab",
        "g": "test_endpoints_group",
        "name": "Test REST API (Todos)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"body\":{\"datasourceId\":\"jsonplaceholder\",\"linker\":{\"datasources\":[{\"definitionId\":\"RestApiDatasource\",\"id\":\"jsonplaceholder\",\"config\":{\"baseUrl\":\"https://jsonplaceholder.typicode.com/todos\",\"headers\":{\"Content-Type\":\"application/json\"}}}],\"datasourceConfigs\":{\"jsonplaceholder\":{\"propertyMapping\":{\"userId\":\"user_id\"}}}},\"methodName\":\"default\",\"responseFormat\":\"full\"}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 870,
        "y": 220,
        "wires": [
            [
                "databinder_rest_api"
            ]
        ]
    },
    {
        "id": "test_github_api",
        "type": "inject",
        "z": "databinder_flow_tab",
        "g": "test_endpoints_group",
        "name": "Test GitHub API",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"body\":{\"datasourceId\":\"github-repo\",\"linker\":{\"datasources\":[{\"definitionId\":\"GithubApiDatasource\",\"id\":\"github-repo\",\"config\":{\"personalAccessToken\":\"YOUR_GITHUB_TOKEN\",\"defaultOrg\":\"statuscompliance\",\"defaultRepo\":\"node-red-status\"}}]},\"methodName\":\"getIssues\",\"responseFormat\":\"batch\",\"batchSize\":10}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "databinder_github"
            ]
        ]
    },
    {
        "id": "test_msgraph_api",
        "type": "inject",
        "z": "databinder_flow_tab",
        "g": "test_endpoints_group",
        "name": "Test MS Graph API",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"body\":{\"datasourceId\":\"msgraph-site\",\"linker\":{\"datasources\":[{\"definitionId\":\"MicrosoftGraphDatasource\",\"id\":\"msgraph-site\",\"config\":{\"tenantId\":\"YOUR_TENANT_ID\",\"clientId\":\"YOUR_CLIENT_ID\",\"clientSecret\":\"YOUR_CLIENT_SECRET\",\"scopes\":[\"https://graph.microsoft.com/.default\"]}}]},\"methodName\":\"listSiteItems\",\"responseFormat\":\"iterator\",\"batchSize\":25}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "databinder_msgraph"
            ]
        ]
    },
    {
        "id": "test_multi_api",
        "type": "inject",
        "z": "databinder_flow_tab",
        "g": "test_endpoints_group",
        "name": "Test Multi-Source",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"body\":{\"datasourceId\":\"all\",\"linker\":{\"datasources\":[{\"definitionId\":\"RestApiDatasource\",\"id\":\"api1\",\"config\":{\"baseUrl\":\"https://jsonplaceholder.typicode.com\",\"endpoints\":{\"default\":\"/todos\"},\"auth\":{\"type\":\"none\"}}},{\"definitionId\":\"RestApiDatasource\",\"id\":\"api2\",\"config\":{\"baseUrl\":\"https://httpbin.org\",\"endpoints\":{\"default\":\"/json\"},\"auth\":{\"type\":\"none\"}}}],\"datasourceConfigs\":{\"api1\":{\"propertyMapping\":{\"title\":\"task_name\",\"userId\":\"user_id\"}},\"api2\":{\"propertyMapping\":{\"slideshow\":\"content\"}}}},\"methodName\":\"default\",\"responseFormat\":\"batch\",\"batchSize\":15}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 890,
        "y": 580,
        "wires": [
            [
                "databinder_multi"
            ]
        ]
    },
    {
        "id": "test_simple_api",
        "type": "inject",
        "z": "databinder_flow_tab",
        "g": "test_endpoints_group",
        "name": "Simple Test (Mock)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"body\":{\"datasourceId\":\"mock-api\",\"linker\":{\"datasources\":[{\"definitionId\":\"mock-datasource\",\"id\":\"mock-api\",\"config\":{\"baseUrl\":\"https://httpbin.org/json\"}}]},\"methodName\":\"default\",\"responseFormat\":\"full\"}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 890,
        "y": 640,
        "wires": [
            [
                "databinder_rest_api"
            ]
        ]
    },
    {
        "id": "test_todos_api",
        "type": "inject",
        "z": "databinder_flow_tab",
        "g": "test_endpoints_group",
        "name": "Test Todos API",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"body\":{\"datasourceId\":\"jsonplaceholder-todos\",\"linker\":{\"datasources\":[{\"definitionId\":\"RestApiDatasource\",\"id\":\"jsonplaceholder-todos\",\"config\":{\"baseUrl\":\"https://jsonplaceholder.typicode.com\",\"endpoints\":{\"default\":\"/todos\"},\"headers\":{\"Content-Type\":\"application/json\"}}}],\"datasourceConfigs\":{\"jsonplaceholder-todos\":{\"propertyMapping\":{\"userId\":\"user_id\",\"id\":\"todo_id\",\"title\":\"task_title\",\"completed\":\"is_completed\"}}}},\"methodName\":\"default\",\"responseFormat\":\"full\",\"batchSize\":50}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 870,
        "y": 700,
        "wires": [
            [
                "databinder_rest_api"
            ]
        ]
    },
    {
        "id": "comment_databinder",
        "type": "comment",
        "z": "databinder_flow_tab",
        "name": "DataBinder Node Examples - HTTP Endpoints\\n\\nThe @statuscompliance/status databinder node integrates with the @statuscompliance/databinder package\\nto collect data from different datasources (REST APIs, GitHub, Microsoft Graph).\\n\\nEach endpoint expects POST requests with configuration in msg.req.body:\\n- datasourceId: ID of the datasource or 'all' for all datasources\\n- linker: Configuration object with datasources and mappings\\n- methodName: Method to call (default, getIssues, listSiteItems, etc.)\\n- responseFormat: full, batch, or iterator\\n- batchSize: Number of items per batch\\n\\nExamples:\\nPOST /databinder/rest-api - Fetch from REST API\\nPOST /databinder/github - Fetch GitHub issues\\nPOST /databinder/msgraph - Fetch MS Graph data\\nPOST /databinder/multi - Fetch from multiple sources\\nGET /databinder/todos - Fetch JSONPlaceholder todos (pre-configured)\\n\\nIMPORTANT: Use correct definitionId values:\\n- RestApiDatasource for REST APIs\\n- GithubApiDatasource for GitHub\\n- MicrosoftGraphDatasource for MS Graph",
        "info": "",
        "x": 630,
        "y": 100,
        "wires": []
    }
]