nodes/subflows/test.json
[{"id":"c24cc92d30737b65","type":"subflow","name":"exists url","info":"","category":"procede","in":[{"x":220,"y":400,"wires":[{"id":"19507bd1feef36d9"}]}],"out":[{"x":1120,"y":720,"wires":[{"id":"48c96e94.295c4","port":0},{"id":"dd688433e3744555","port":0}]}],"env":[{"name":"cardId","type":"str","value":""},{"name":"key","type":"str","value":""},{"name":"trelloToken","type":"str","value":""},{"name":"githubToken","type":"str","value":""}],"meta":{},"color":"#DDAA99"},{"id":"4293b91d7c9ffb9a","type":"http request","z":"c24cc92d30737b65","name":"Trello request","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.trello.com/1/cards/{{cardId}}/attachments?key={{key}}&token={{trelloToken}}","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":400,"wires":[["976f962dc8b95353"]]},{"id":"19507bd1feef36d9","type":"function","z":"c24cc92d30737b65","name":"Auxiliaries","func":"msg.cardId = env.get(\"cardId\");\nmsg.key = env.get(\"key\");\nmsg.trelloToken = env.get(\"trelloToken\");\nmsg.githubToken = env.get(\"githubToken\")\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":400,"wires":[["4293b91d7c9ffb9a"]]},{"id":"976f962dc8b95353","type":"function","z":"c24cc92d30737b65","name":"GitHub URL","func":"var jsonData = msg.payload;\nmsg.payload = jsonData.toString().indexOf('github') != -1;\n\nif(msg.payload) {\n    msg.githubRepoUrl = JSON.parse(jsonData)[0].url;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":400,"wires":[["45ed35959725f8a2"]]},{"id":"dd688433e3744555","type":"function","z":"c24cc92d30737b65","name":"Exists repo","func":"msg.payload = msg.statusCode === 200 ? [msg.payload] : [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":580,"wires":[[]]},{"id":"22de7ce057115acd","type":"http request","z":"c24cc92d30737b65","name":"GitHub request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/{{username}}/{{repoName}}","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":580,"wires":[["dd688433e3744555"]]},{"id":"45ed35959725f8a2","type":"switch","z":"c24cc92d30737b65","name":"If the card is associated","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":true,"outputs":2,"x":350,"y":660,"wires":[["5ea3e9ceb594dedb"],["48c96e94.295c4"]]},{"id":"5ea3e9ceb594dedb","type":"function","z":"c24cc92d30737b65","name":"Obtain username and repo name","func":"var githubRepoUrl = msg.githubRepoUrl;\n\nvar regex = /^https:\\/\\/github\\.com\\/([^\\/]+)\\/([^\\/]+)\\/?(tree\\/[^\\/]+)?\\/?$/; \nvar match = githubRepoUrl.match(regex); \nmsg.username = match[1]; \nmsg.repoName = match[2];\n\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + msg.githubToken;\nmsg.headers['User-Agent'] = 'request';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":580,"wires":[["22de7ce057115acd"]]},{"id":"48c96e94.295c4","type":"function","z":"c24cc92d30737b65","name":"Not associated card","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":720,"wires":[[]]},{"id":"42765e3c7573efa8","type":"tab","label":"Example flow","disabled":false,"info":""},{"id":"44ccc8fc153bfc4b","type":"subflow:c24cc92d30737b65","z":"42765e3c7573efa8","name":"","env":[{"name":"cardId","value":"6491946bc735268664857762","type":"str"},{"name":"key","value":"5ed3c37b7cd376a8d1a380b2c431c7e8","type":"str"},{"name":"trelloToken","value":"ATTA188667b74900b0224ef9a4a521373403e53ee9616f4917e27ab442f2608bab2eF43CF10C","type":"str"},{"name":"githubToken","value":"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","type":"str"},{"name":"token","value":"ATTA188667b74900b0224ef9a4a521373403e53ee9616f4917e27ab442f2608bab2eF43CF10C","type":"str"}],"x":220,"y":180,"wires":[[]]},{"id":"44deceef27acc187","type":"http in","z":"42765e3c7573efa8","name":"","url":"test","method":"get","upload":false,"swaggerDoc":"","x":430,"y":260,"wires":[["edf082a0.7d3dc"]]},{"id":"1698de2448cf8019","type":"http response","z":"42765e3c7573efa8","name":"Result","statusCode":"","headers":{},"x":1150,"y":260,"wires":[]},{"id":"ce61032b.fc8fa","type":"http request","z":"42765e3c7573efa8","name":"GitHub request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.github.com/repos/FJMonteroInformatica/Ahorcado-en-Python","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":420,"wires":[[]]},{"id":"45d70032.c6cb1","type":"function","z":"42765e3c7573efa8","name":"Obtain username and repo name","func":"msg.headers = {};\nmsg.headers['User-Agent'] = 'request';\nmsg.headers['Authorization'] = 'Bearer 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';\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[[]]},{"id":"3395d21c.e6cfbe","type":"function","z":"42765e3c7573efa8","name":"","func":"msg.payload = [msg.payload]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":420,"wires":[[]]},{"id":"edf082a0.7d3dc","type":"http request","z":"42765e3c7573efa8","name":"GitHub request","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://jsonplaceholder.typicode.com/posts","tls":"","persist":false,"proxy":"","authType":"","x":980,"y":260,"wires":[["1698de2448cf8019"]]}]