nodes/subflows/procede/exists-pipe.json
{
    "id": "exists-pipe",
    "type": "subflow",
    "name": "exists pipe",
    "info": "",
    "category": "procede",
    "icon": "subflow.svg",
    "in": [
        {
            "x": 280,
            "y": 240,
            "wires": [
                {
                    "id": "c4cced54cfb1d9ca"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 640,
            "y": 240,
            "wires": [
                {
                    "id": "c4cced54cfb1d9ca",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "count",
            "type": "num",
            "value": ""
        }
    ],
    "meta": {},
    "color": "#DDAA99",
    "flow": [
        {
            "id": "c4cced54cfb1d9ca",
            "type": "function",
            "z": "exists-pipe",
            "name": "Validation",
            "func": "var flowData = msg.payload;\nvar expectedCount = parseInt(env.get(\"count\"));\n\nmsg.payload = Object.keys(flowData).length == expectedCount;\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 460,
            "y": 240,
            "wires": [
                []
            ]
        }
    ]
}
